In [15]:
import pandas as pd
df = pd.read_csv('car_price_dataset.csv')

In [16]:
# 1. What is the average price of all cars in the dataset
avg = df['Price'].mean()
print("The average price of all cars is :", avg)

The average price of all cars is : 8852.9644

In [41]:
# 2. Which car brand has the highest average price?
brand_avg = df.groupby('Brand')['Price'].mean()
print(f"The car brand with the highest average price is : {brand_avg.idxmax()} with {brand_avg.max()} average value ")

The car brand with the highest average price is : Chevrolet with 9015.683948155533 average value

In [50]:
# 3. What is the most common fuel type in the dataset?
fuel_type = df['Fuel_Type'].mode()
print('The most common fuel type in the dataset is ',fuel_type)

The most common fuel type in the dataset is  0    Electric
Name: Fuel_Type, dtype: object

In [51]:
# 4. How many cars have a mileage greater than 200,000?
mileage = (df['Mileage'] > 200000).sum()
print(f"The number of cars with mileage greater than 200,000 is {mileage}")

The number of cars with mileage greater than 200,000 is 3290

In [52]:
# 5. What is the distribution of cars by transmission type?
transmission = df['Transmission'].value_counts()
print(f"The distribution of cars by transmission type is : \n {transmission}")

The distribution of cars by transmission type is :
 Transmission
Manual            3372
Automatic         3317
Semi-Automatic    3311
Name: count, dtype: int64

In [59]:
# 6. Which car model has the highest price?
model_price = df.groupby('Model')['Price'].max()
print(f"The car model with the highest price is : {model_price.idxmax()} with {model_price.max()}$ as price")

The car model with the highest price is : Corolla with 18301$ as price

In [60]:
#7. What is the average price of cars by fuel type?
fuel_price = df.groupby('Fuel_Type')['Price'].mean()
print(f"The average price of cars by fuel type is : \n {fuel_price}")

The average price of cars by fuel type is :
 Fuel_Type
Diesel       8117.336385
Electric    10032.220190
Hybrid       9113.030167
Petrol       8070.561826
Name: Price, dtype: float64

In [61]:
#8. How many cars are from the year 2020 or later?
year = (df['Year'] >= 2020).sum()
print(f"The number of cars from the year 2020 or later is {year}")

The number of cars from the year 2020 or later is 1651

In [62]:
#9. What is the average engine size for each brand?
engine_size = df.groupby('Brand')['Engine_Size'].mean()
print(f"The average engine size for each brand is : \n {engine_size}")

The average engine size for each brand is :
 Brand
Audi          3.032948
BMW           2.976877
Chevrolet     2.993719
Ford          3.044275
Honda         2.925966
Hyundai       2.936683
Kia           3.053791
Mercedes      3.069745
Toyota        2.961443
Volkswagen    3.011078
Name: Engine_Size, dtype: float64

In [63]:
#10. Which car has the lowest mileage?
mileage_car = df.loc[df['Mileage'].idxmin()]
print(f"The car with the lowest mileage is : \n {mileage_car}")

The car with the lowest mileage is :
 Brand                     Ford
Model                 Explorer
Year                      2006
Engine_Size                1.6
Fuel_Type             Electric
Transmission    Semi-Automatic
Mileage                     25
Doors                        3
Owner_Count                  2
Price                     9499
Name: 6824, dtype: object

In [64]:
#11. What is the correlation between mileage and price?
correlation = df['Mileage'].corr(df['Price'])
print(f"The correlation between mileage and price is : {correlation}")

The correlation between mileage and price is : -0.5512271827629014

In [68]:
#12. How many cars have more than 2 owners?
owners = (df['Owner_Count'] > 2).sum()
print(f"The number of cars with more than 2 owners is : {owners}")

The number of cars with more than 2 owners is : 5944

In [69]:
#13. What is the average price of cars by year?
year_price = df.groupby('Year')['Price'].mean()
print(f"The average price of cars by year is : \n {year_price}")

The average price of cars by year is :
 Year
2000     5393.735369
2001     5904.064039
2002     5956.751082
2003     6225.834646
2004     6330.725888
2005     6943.037123
2006     7249.961446
2007     7632.513953
2008     7728.418848
2009     8083.917293
2010     8503.419954
2011     8622.855234
2012     9011.446224
2013     9114.208531
2014     9587.455635
2015     9896.774648
2016    10177.600000
2017    10343.757506
2018    10939.192941
2019    11132.722090
2020    11495.284337
2021    11637.813299
2022    12067.690176
2023    12169.470982
Name: Price, dtype: float64

In [70]:
#14. Which car has the highest number of doors?
doors_car = df.loc[df['Doors'].idxmax()]
print(f"The car with the highest number of doors is : \n {doors_car}")

The car with the highest number of doors is :
 Brand           Volkswagen
Model                 Golf
Year                  2003
Engine_Size            2.4
Fuel_Type           Petrol
Transmission     Automatic
Mileage             145921
Doors                    5
Owner_Count              2
Price                 5981
Name: 14, dtype: object

In [71]:
#15. What is the average mileage for each fuel type?
mileage_fuel = df.groupby('Fuel_Type')['Mileage'].mean()
print(f"The average mileage for each fuel type is : \n {mileage_fuel}")

The average mileage for each fuel type is :
 Fuel_Type
Diesel      150261.533041
Electric    151059.307429
Hybrid      145577.587036
Petrol      149917.694606
Name: Mileage, dtype: float64

In [72]:
#16. How many cars are from the brand 'Toyota'?
toyota = (df['Brand'] == 'Toyota').sum()
print(f"The number of cars from the brand 'Toyota' is : {toyota}")

The number of cars from the brand 'Toyota' is : 970

In [73]:
#17. What is the average price of cars with automatic transmission?
transmission_price = df.loc[df['Transmission'] == 'Automatic']['Price'].mean()
print(f"The average price of cars with automatic transmission is : {transmission_price}")

The average price of cars with automatic transmission is : 9938.252939403075

In [74]:
#18. Which car has the highest owner count?
owner_count = df.loc[df['Owner_Count'].idxmax()]
print(f"The car with the highest owner count is : \n {owner_count}")

The car with the highest owner count is :
 Brand              Kia
Model              Rio
Year              2020
Engine_Size        4.2
Fuel_Type       Diesel
Transmission    Manual
Mileage         289944
Doors                3
Owner_Count          5
Price             8501
Name: 0, dtype: object

In [75]:
#19. What is the average engine size for cars with diesel fuel type?
diesel_engine = df.loc[df['Fuel_Type'] == 'Diesel']['Engine_Size'].mean()
print(f"The average engine size for cars with diesel fuel type is : {diesel_engine}")

The average engine size for cars with diesel fuel type is : 3.011863057324841

In [76]:
#20. How many cars have a price greater than $10,000?
price = (df['Price'] > 10000).sum()
print(f"The number of cars with a price greater than $10,000 is : {price}")

The number of cars with a price greater than $10,000 is : 3651